<div class="container mx-auto p-6 bg-gray-100 rounded-lg shadow-md">
    <h1 class="text-3xl font-extrabold text-center mb-6 text-blue-600">Mis Pasiones</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <ul class="list-disc pl-5 space-y-3 text-gray-700">
        <li>Viajar y conocer nuevas culturas</li>
        <li>Leer libros de ciencia ficción</li>
        <li>Programar y aprender nuevas tecnologías</li>
        <li>Hacer senderismo en la naturaleza</li>
        <li>Cocinar y experimentar con nuevas recetas</li>
        <li>Jugar al fútbol y seguir partidos</li>
        <li>Disfrutar del frío y poco del calor</li>
        <li>Explorar diferentes tipos de música</li>
        <li>Valorar la compañía y pasar tiempo con amigos</li>
        <li>Practicar deportes al aire libre</li>
        <li>Ver documentales y aprender sobre el mundo</li>
        <li>Crear proyectos creativos y artísticos</li>
      </ul>
      <div class="flex flex-col justify-center items-center">
        <p class="text-lg text-gray-800 mb-4">
          Me encanta viajar a diferentes lugares y experimentar nuevas culturas. 
          Disfruto mucho del frío y prefiero el clima fresco al calor. 
          Además, me gusta todo tipo de música y valoro la buena compañía y 
          el tiempo compartido con amigos y seres queridos. 
          Soy una persona apasionada por el fútbol y me gusta seguir los partidos y eventos deportivos.
        </p>
        <p class="text-lg text-gray-800">
          En mi tiempo libre, disfruto de actividades al aire libre, crear proyectos creativos, 
          y ver documentales para aprender sobre el mundo. Cada día me esfuerzo por aprender 
          algo nuevo y mantenerme activo en mis pasatiempos.
        </p>
      </div>
    </div>
  </div>
  