<footer class="container-fluid">
    <div class="container">
        <div class="row align-items-center">
            <!-- Columna de la imagen -->
            <div class="col-6 col-md-4 text-center mb-2">
                <img src="/public/image/waze.png" alt="Logo Personal" class="img-fluid">
            </div>
            <!-- Columna de información -->
            <div class="col-6 col-md-4 mb-2">
                <h5>Sobre Mí</h5>
                <p>
                    Todos los derechos reservados. Soy [Estalin], y este es un resumen de mi vida personal, mis proyectos y mis pasiones. Las imágenes y el contenido en este sitio están protegidos por derechos de autor y no pueden ser copiados sin mi permiso.
                </p>
            </div>
            <!-- Columna de redes -->
            <div class="col-12 col-md-4 mb-2">
                <div class="d-flex justify-content-center">
                    <div class="mx-2">
                        <a href="https://instagram.com/tu_usuario" target="_blank">
                            <img src="/public/image/instagram.png" alt="Instagram" class="img-fluid" style="width: 40px; height: 40px;">
                        </a>
                    </div>
                    <div class="mx-2">
                        <a href="https://facebook.com/tu_usuario" target="_blank">
                            <img src="/public/image/facebook.png" alt="Facebook" class="img-fluid" style="width: 40px; height: 40px;">
                        </a>
                    </div>
                    <!-- Agregar más íconos de redes sociales aquí si lo deseas -->
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; 2024 [Estalin]. Todos los derechos reservados.</p>
    </div>
</footer>
